__pycache__/
*.py[cod]
.venv/
venv/
.env
.ipynb_checkpoints/
.DS_Store

# Big data and artifacts
data/
datasets/
outputs/
runs/
models/
weights/
*.pt
*.onnx

# Geo rasters/vectors
*.tif
*.tiff
*.jp2
*.png
*.jpg
*.jpeg
*.gpkg
*.shp
*.dbf
*.shx
*.prj
